.ngTabs-switcher-container{
    text-align: center;
}
.ngTabs-switcher{
    border: 1px solid #730030;
    background: transparent;
    border-radius: 100%;
    display: inline-block;
    width: 9px;
    height: 9px;
    margin: 15px 15px;
    cursor: pointer;
}
.ngTabs-switcher.selected{
    background: #990030;
    border: none;
}
.ng-tabs-arrows{
    background: url('../images/arrows.png') center center no-repeat;
    opacity: 1;
    width: 14px;
    height: 20px;
    margin-top: -18px;
    position: absolute;
    top: 50%;
    display: block;
    background-repeat: no-repeat;
    cursor: pointer;
}
ng-tabs .ng-tabs-arrows.arrowLeft{
    background-position: 0px 0px;
    left: 3px;
}
ng-tabs .ng-tabs-arrows.arrowRight{
    background-position: -15px 0px;
    right: 3px;
}
ng-tabs .ng-tabs-arrows.arrowLeft:hover{
    background-position: 0px -20px;
}
ng-tabs .ng-tabs-arrows.arrowRight:hover{
    background-position: -15px -20px;
}

.noSelect, .noSelect *{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
ng-tabs{
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    position: relative;
    display: block;
}
ng-tabs:after{
    display: block;
    margin: 0;
    clear: both;
}
ng-tabs div.inner-container{
    border: 0;
    background: transparent;
    float: none;
}
ng-tabs > ul{
    padding: 0;
    position: relative;
    width: 9999px;
    margin: 0px;
    list-style-type: none;
    text-align: center;
    left: 0;
    clear: both;
    display: block;
}
ng-tabs > ul.animate-left{
    transition: left 0.2s;
    -webkit-transition: left 0.2s;
    -moz-transition: left 0.2s;
    -o-transition: left 0.2s;
}
ng-tabs ul > li {
    cursor: pointer;
    padding: 0 1px;
    float: left;
    position: relative;
    margin: 0px;
}
ng-tabs ul > li > div{
    background: #730030;
    color: #FFF;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 10px;
    position: relative;
}
ng-tabs ul > li:hover > div{
    background: #990030;
}
ng-tabs ul > li.selected:hover > div:before{
    border-top: 10px solid #990030;
}
ng-tabs ul.hasArrows > li{
    padding-right: 20px;
    padding-left: 20px;
}
ng-tabs ul > li.selected > div:before{
    content: " ";
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #730030;
    position: absolute;
    bottom: -10px;
    left: 20px;
}
ng-tabs ul > li.last:after{
    display: table;
}

ng-tabs-pane, .ng-tabs-pane{
    background-color: #FFF;
    width: 100%;
    box-shadow: 0px 5px 10px 10px #e2e2e2;
    padding: 10px;
    display: block;
    border: 1px solid #e2e2e2;
    clear: both;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}